




.navbar {
	background-color:rgb(68, 72, 82);
	
}
.navbar-left {
	
	margin
}
body {
	background-color:black;
	margin:auto;
}
header {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color:black;
}
.logo {
	
	width:5%
}
h1 {
	text-align:center;
	font-family:Arial;
	font-size: 500%;
	font-weight: 100;
	color:rgb(128, 128, 128);
	
	text-margin: 5px;
}
img {
	width: 100%;
	
}


.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.card-deck {
	
	padding-top: 150px;
	margin: auto;
	text-align: center;
	color: black;
	
}
.card {
	background-color:rgb(68, 72, 82);
}
.card-text {
	
	margin: auto;
}

.card-footer {
	
	margin: auto;
	text-align: center;
}


footer {
	margin-top: 50px;
	margin:auto;
	
}
footer a {
	color:rgb(128, 128, 128);
	

}
#foot-link {
	padding-top: 50px;
	margin:center-left;
	text-align:center;
}
.w-100 {
  margin:auto;
  width: 50% !important;
  height: auto;
}

@media screen and (max-width: 768px) {
	.carousel .carousel-inner{

		height:auto 
	}
	  #container {
		  width: 90%:
	  }
	  h1 {
		  font-size: 200%;
	  }
 }

#form-login {
	
	margin: auto;
	padding-left: 300px;
	padding-right:300px;
}